- name: Delete default site
  file: path=/etc/nginx/sites-enabled/default state=absent
  notify: nginx restart

- name: Add nginx override config
  copy:
    content: "{{ nginx_override_conf }}"
    dest: /etc/nginx/conf.d/override.conf
  when: nginx_override_conf != ''
  notify: nginx restart

- name: Check if acme_well_known config is there
  stat: path="/etc/nginx/snippets/acme_well_known.conf"
  register: acme_well_known_config_file

- name: Generate useful snippets
  template:
    src: "{{ item }}"
    dest: "/etc/nginx/snippets/{{ item }}"
  when: nginx_generate_snippets
  with_items:
    - disallow_robots.conf
